/* carrito.css */

.cart-icon {
  position: relative;
  margin: 0px 0px 0px 10px;

}

.cart-icon button {
  position: relative;
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  
}

.item-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Oscurecer el fondo */
  z-index: 999;
}

/* Carrito */
.cart-drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 1000;
 
}

.cart-drawer.open {
  right: 0;
}

/* Limita la altura de la sección interna para el scroll */
.cart-drawer > div {
  max-height: calc(100vh - 60px); /* Ajusta la altura del contenido interno */
  overflow-y: auto;
}

/* Resto del estilo aquí */

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.cart-item img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  border-radius: 8px;
}

.item-details {
  flex: 1;
}

.item-details span {
  font-weight: bold;
}

.item-controls {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.quantity-display {
  margin: 0 10px;
  font-weight: bold;
}

.delete-icon {
  margin-top: 10px;
  cursor: pointer;
  color: #a0a0a0;
}

.cart-subtotal {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.shipping-section {
  margin-top: 20px;
}

.shipping-section h4 {
  font-size: 16px;
  font-weight: bold;
}

.shipping-section p {
  font-size: 14px;
  color: #555;
}

.shipping-alert {
  background-color: #fef5e5;
  color: #a26b3f;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #e4a26b;
  border-radius: 5px;
  margin-top: 10px;
}

.shipping-option {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 16px;
}

.estimated-delivery {
  font-size: 14px;
  color: #888;
}

.total-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.installments {
  font-size: 14px;
  color: #888;
  text-align: center;
  margin-top: -10px;
}

.checkout-button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #d2b488;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.checkout-button:hover {
  background-color: #c2a378;
}

