.boton-agregar {
    width: 300px;
    margin-left: 500px;
    margin-bottom: 15px;
    height: 50px;
    font-size: 25px;
}

.encabezado-admin {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.responsive-table th, .responsive-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.boton-editar {
    margin: 5px;
}

.botones-acciones {
    display: flex;
    flex-direction: row;
}